@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--mobile: 320px;
	--kindle: 480px;
	--tab: 640px;
	--big-tab: 960px;
	--laptop: 1025px;
	--desktop: 1280px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100wh;
	overflow: hidden;
	margin: 0;
	font-weight: 300 !important;
}

/* Mobile */
@media (width <= 320px) {
	.bg-color {
		background: green;
	}
}

/* Kindle */
@media (320px < width <= 480px) {
	.bg-color {
		background: rebeccapurple;
	}
}

/* Tablet */
@media (480px < width <= 640px) {
	.bg-color {
		background: teal;
	}
}

/* Big Tablet */
@media (640px < width <= 960px) {
	.bg-color {
		background: yellow;
	}
}

/* Laptop */
@media (960px < width <= 1225px) {
	.bg-color {
		background: steelblue;
	}
}

/* Desktop */
@media (1225px < width) {
	.bg-color {
		background: red;
	}
}
