@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--variableName: value;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100wh;
	overflow: hidden;
	margin: 0;
	font-weight: 300 !important;
}

button {
	background-color: rebeccapurple;
	color: white;
	padding: 1rem;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-weight: 300;
	font-size: 1rem;
}

.rating {
	font-size: 24px;
	cursor: pointer;
}

.star {
	color: grey;
	font-size: 2rem;
	display: inline-block;
}

.star:hover,
.active {
	color: gold;
}
