@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: antiquewhite;
  overflow-x: hidden;

 
  
 
}

.container{
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 80%;
  
}

.card{
  overflow: none;
  background-color: steelblue;
  height: 300px;
  width: 400px;
  margin: 10px ;
  font-size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translateX(300%);
  transition: 0.4s ease;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
}

.card:nth-child(even){
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  -o-transform: translateX(-300%);
}


.card.show{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
