@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  
  --left-bg-overlay: rgba(87, 84, 236, 0.7);
  --right-bg-overlay: rgba(43, 43, 43, 0.8);
  --hover-width: 75%;
  --other-width: 25%;
  --t-time: 1000ms;
 
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100wh;
  overflow: hidden;
  margin: 0;
}

.container{
  position: relative ;
  height: 100%;
  width: 100%;
  
}

 .left-section{
  position: absolute;
  left:0;
  height: 100%;
  width: 50%;
  background: url('ps.jpg');
  white-space: nowarp;
  color: white;
  background-size: cover;

}

.left-section::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-overlay);
}



.right-section{
  position: absolute;
  right:0;
  height: 100%;
  width: 50%;
  background: url('xbox.jpg');
  color: white;
  background-size: cover;

}


.right-section::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-overlay);
}






h1{
  position: absolute;
  left:50%;
  top: 20%;
  color: white;
  white-space: nowrap;
  font-size: 3.5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}



.btn{
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  padding: 20px 40px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.btn:hover{
  background-color: green;
  outline: none;
  border: none;
}


.hover-left .left{
  width: var(--hover-width);
}

.hover-left .right{
  width: var(--other-width);
}

.hover-right .right{
  width: var(--hover-width);
}

.hover-right .left{
  width: var(--other-width);
}




.left-section,
.right-section::before,
.right-section,
.right-section::before{
  transition: var(--t-time) ease-in-out;
  -webkit-transition: var(--t-time) ease-in-out;
  -moz-transition: var(--t-time) ease-in-out;
  -ms-transition: var(--t-time) ease-in-out;
  -o-transition: var(--t-time) ease-in-out;
}