@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --variableName: value;
 
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(140, 96, 182);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100wh;
  overflow: hidden;
  margin: 0;
  color: white
}

#buttons{
  display: grid;
  display: inline;
  justify-content: center;
  align-items: center;
}


.btn{
  padding: 20px 35px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: white;
  background-color: rgba(0,0,0,0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover{
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}