@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

.container{
  height: 100vh;
  width: 960px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  
}

.progress-container{
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 50px;
  position: relative;
  max-width: 100%;
  
}

.progress-container::before{
  content: '';
  position: absolute;
  height: 6px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  background-color: rgb(228, 228, 228);
  
 
}


.progress{
  background-color: steelblue;
  height: 6px;
  width: 0%;
  position: absolute;
  z-index: -1;
  top: 50%;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}





.circle{
  height: 30px;
  width: 30px;
  background-color: white;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(219, 214, 214);
  border-radius: 50%;
  transition: 1s ease;
  
}

.circle.active{
  border: 3px solid steelblue ;

  
}


.btn{
  padding: 10px 30px;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.buttons{
  margin-bottom: 20px;
}

.btn.disable{
  background-color: grey;
  pointer-events: none;
  cursor: not-allowed;
}
